<html>

<head>
    <title>{{.Title}}</title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/static/css/main.css">
    <script src="/static/js/jquery-2.2.4.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="/static/js/index.js"></script>
</head>
<header style="background-color:#1da1f2">
    <div class="container">
        <div class="row">
            <h1 href="/" id="logo">Proyecto 2</h1>
            <p></p>
        </div>
    </div>
</header>

<body>
    <div class="elements">
        <div class="row">
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                        <img src="https://www.safaribooksonline.com/library/cover/9780596805395/360h/">
 
                    <div class="caption">
                        <h3>Libro #1</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <form>
                                Cantidad:<br>
                                <input type="number" name="amount" id="l1"><br>
                            </form>
                            <button id="libro1" class="btn btn-primary" role="button"
                                onClick="onClickHandlerPost(this.id)">Agregar a
                                Stock</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"> 
                    <img src="https://www.safaribooksonline.com/library/cover/9780596529864/360h/">
                    <div class="caption">
                        <h3>Libro #2</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <form>
                                Cantidad:<br>
                                <input type="number" name="amount" id="l2"><br>
                            </form>
                            <button id="libro2" class="btn btn-primary" role="button"
                            onClick="onClickHandlerPostLib2(this.id)">Agregar a
                                Stock</button>
                        </p>
                    </div>
                </div>
            </div>
            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"> 
                    <img src="https://www.safaribooksonline.com/library/cover/9781491987643/360h/">
                    <div class="caption">
                        <h3>Libro #3</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <form>
                                Cantidad:<br>
                                <input type="number" name="amount" id="l3"><br>
                            </form>
                            <button id="libro3" class="btn btn-primary" role="button"
                                onClick="onClickHandlerPostLib3(this.id)">Agregar a
                                Stock</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail">
                        <img src="https://www.safaribooksonline.com/library/cover/9781491904428/360h/"> 
                    <div class="caption">
                        <h3>Libro #4</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <form>
                                Cantidad:<br>
                                <input type="number" name="amount" id="l4"><br>
                            </form>
                            <button id="libro4" class="btn btn-primary" role="button"
                                onClick="onClickHandlerPostLib4(this.id)">Agregar a
                                Stock</button>
                        </p>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-md-4">
                <div class="thumbnail"> 
                        <img src="https://www.safaribooksonline.com/library/cover/9781491914892/360h/"> 

                    <div class="caption">
                        <h3>Libro #5</h3>
                        <p>Cras justo odio, dapibus ac facilisis in, egestas eget quam. Donec id elit non mi porta
                            gravida at eget metus. Nullam id dolor id nibh ultricies vehicula ut id elit.</p>
                        <p>
                            <form>
                                Cantidad:<br>
                                <input type="number" name="amount" id="l5"><br>
                            </form>
                            <button id="libro5" class="btn btn-primary" role="button"
                                onClick="onClickHandlerPostLib5(this.id)">Agregar a
                                Stock</button>
                        </p>
                    </div>
                </div>
            </div>
            <div id="response"></div>
        </div>
    </div>
</body>

</html>